<form method="GET" action="/">
  <label>Search <input type="search" name="search" /></label>
  <button>Search Overheards</button>
</form>

<% @overheards.each do |overheard| %>
  <p><%= overheard.body %></p>
<% end %>
