<!DOCTYPE html>
<head>
  <title>Overheard - Quotes Sans Context</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=stylesheet href="/style.css" type="text/css" media="screen">
</head>

<body>
<header>
  <h1>Overheard - Quotes Sans Context</h1>
  <p>Silly Sayings Said Serendipitously</p>
  <nav>
    <a href="/overheards/new">Add Overheard</a>
  </nav>
</header>

<main>
  <%= yield %>
</main>

</body>
</html>
